@font-face {
  font-family: 'Barlow';
  src: url('/fonts/Barlow/Barlow-Medium.woff2') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Barlow';
  src: url('/fonts/Barlow/Barlow-Bold.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'Barlow';
  src: url('/fonts/Barlow/Barlow-ExtraBold.woff2') format('woff2');
  font-weight: 800;
}
