* {
  box-sizing: border-box;
}

body {
  font-size: 22px;
  font-weight: 300;
  font-family: 'Open Sans', Arial, Sans-Serif;
  background-color: white;
  color: #333333;
  letter-spacing: 1px;
  line-height: 1.5;
}
main {
  min-height: 60vh;
}
img {
  max-width: 100%;
}
.tags {
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
}
.tags .tag {
  padding: 1px 5px;
  background-color: black;
  color: #f5f1eb;
  margin: 0 0.25rem 0.25rem 0;
  text-decoration: none;
  border-radius: 2px;
}
a, a:visited {
  color: black;
  text-decoration: underline;
  position: relative;
}
a:hover {
  top: -1px;
}
.error {
  padding: 5px;
  color: #ee2f1d;
}
.wrap-text {
  max-width: 40rem;
}
.callout {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
}
.callout a {
  display: block;
  padding: 10px;
  background-color: black;
  color: #edeae5;
  text-align: center;
}
.logo {
  color: black;
  font-weight: bold;
  overflow: hidden;
}
.logo img {
  height: 80px;
  width: auto;
}
h1, h2, h3 {
  line-height: 1.25;
  margin-bottom: 20px;
}
h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.2rem;
}
p {
  margin-bottom: 20px;
}
b {
  font-weight: bold;
}
i {
  font-style: italic;
}
.hero-intro {
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: url('/images/backgrounds/space-2.jpg');
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}
h1.name {
  font-weight: bold;
  position: relative;
  z-index: 2;
  color: black;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: -0.2rem;
  line-height: 3rem;
  text-transform: uppercase;
  text-shadow: 0.5rem -0.5rem #957a99;
  animation-name: flicker;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transition-duration: 100ms;
}
h1.name .traditional {
  color: white;
  font-size: 3rem;
  display: block;
  /* font-style: italic;
  font-size: 4rem;
  color: white;
  position: absolute;
  bottom: 60px;
  left: -80px;
  transform: rotate(-12deg); */
}
@keyframes flicker {
  0%   { color: black; }
  75%  { color: black; transform: scale(1); }
  80%  { color: white; transform: scale(1.1) rotate(-0.5deg); }
  85%  { color: pink; transform: scale(1.05) rotate(0.25deg); text-shadow: -0.5rem 0.5rem #90e96b; }
  95%  { color: black; }
  100% { color: black; }
}
.opening-soon {
  font-weight: bold;
  position: relative;
  z-index: 2;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -0.2rem;
  line-height: 2rem;
  text-transform: uppercase;
}
.pixels {
  position: absolute;
  z-index: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  line-height: 1rem;
  top: 0;
  left: 0;
  right: 0;
}
.pixel {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
  padding: 0;
  background-color: white;
  animation-name: occilate;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
  animation-duration: 8s;
  animation-iteration-count: once;
  transition-duration: 100ms;
}
@keyframes occilate {
  0%  {
    width: 5rem;
    height: 5rem;
  }
}
.hero-section {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 1.5rem;
}
.inverted {
  background-color: black;
  color: white;
}
.hero-section h2 span {
  padding: 0.1rem;
  display: inline;
  color: white;
  background-color: black;
  font-size: 3rem;
}
.inverted .hero-section h2 span {
  color: black;
  background-color: white;
}
.inverted a {
  color: black;
  background-color: white;
}
.hero-section p {
  font-size: 2rem;
}
.article {
  font-size: 1.2rem;
}
.edit-article {
  font-size: 1rem;
  margin-bottom: 2rem;
  font-style: italic;
}
.article ol > li:before,
.article ul > li:before {
  position: absolute;
  width: 1em;
  margin-left: -2em;
  line-height: 1.5em;
  text-align: right;
}

.article ul > li:before {
  margin-top: -1px;
  content: '—';
}
.article ol {
	list-style-type: none;
	counter-reset: item;
}
main {
  min-height: 60vh;
}
footer {
  color: white;
  background-color: #119977;
  padding: 4rem 0;
}
footer .inner {
  /* padding: 4rem 1rem 2rem 1rem; */
}
footer h3 {
  margin-bottom: 4rem;
  font-size: 1.4rem;
}
footer .links {
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
footer .tags {
  margin-bottom: 1rem;
}
footer a, footer a:visited {
  text-decoration: none;
  color: #f6f6ef;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.social-links a {
  padding: 0.5rem;
}
i {
  font-style: italic;
}
.main-content {
  padding: 4rem 1rem;
}
.opening-date:after {
  content: "";
  margin-top: 50px;
  display: block;
  z-index: 2;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 9px 0 9px;
  border-color: black transparent transparent transparent;
  animation: bounce 700ms infinite alternate;
  -webkit-animation: bounce 700ms infinite alternate;
  transition-duration: 300ms;
}
.opening-date:before {
  content: "";
  width: 25px;
  height: 3px;
  background-color: black;
  display: block;
  margin-bottom: 10px;
}
.button, button, .button, .button:visited {
  cursor: pointer;
  border-radius: 30px;
  padding: 0.5rem 1.4rem;
  text-decoration: none;
  border: 3px solid #119977;
  background-color: #119977;
  color: white;
  transition-duration: 200ms;
}
button.white, .button.white, .button.white:visited {
  color: white;
  border: 3px solid white;
  background: none;
}
button.white:hover, .button.white:hover {
  background: none;
}
input {
  background-color: white;
  color: black;
  width: 100%;
  padding: 12px;
  border-radius: 3px;
}
label {
  font-style: italic;
  margin-bottom: 20px;
  display: block;
}
.FormRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.fullwidth {
  width: 100%;
}
.article-preview {
  background-color: #f9f4f4;
  padding: 1rem;
  margin-bottom: 2rem;
}
.Compose section {
  margin-bottom: 20px;
}
.Compose input, .Compose textarea {
  background-color: #fef9f4;
  padding: 8px 30px;
  line-height: 1.5;
  width: 100%;
}
.Compose textarea {
  height: 8rem;
}
.Editor {
  background-color: #fef9f4;
  line-height: 1.5;
}
.actionBar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.actionBar button {
  color: black;
}
.htmlContent {
  box-sizing: border-box;
  background-color: #fef9f4;
  min-height: 300px;
  outline: 0;
  overflow-y: auto;
  padding: 30px;
}
.htmlContent img {
  width: 100
}
.actionButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: 0;
  padding: 4px 8px;
}
.pell-button-selected {
  background-color: #F0F0F0;
}

@media (min-width: 800px) {
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  h1.name {
    font-size: 8rem;
    line-height: 6rem;
  }
  h1.name .traditional {
    font-size: 6rem;
  }
  .opening-soon {
    font-size: 6rem;
    line-height: 4rem;
  }
  .padding-right {
    padding-right: 30px;
  }
  .padding-left {
    padding-left: 30px;
  }
  .columns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .col {
    max-width: 500px;
  }
  .col.lg {
    flex-grow: 3;
    max-width: 1500px;
  }
  .hero-image {
    height: 400px
  }
  .main-content, nav, footer .inner {
    width: 800px;
    margin: 0 auto;
  }
  .projects {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
  }
  .project {
    width: 600px;
    margin: 0 30px 30px 0;
  }
  .main-content.fullwidth {
    width: 100%;
  }
  .main-content.center {
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
  h1.long {
    font-size: 2rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  .hero-image {
    height: 600px
  }
  button {
    padding: 12px 36px;
  }
  .main-content, nav, footer .inner {
    width: 1100px;
  }
}
.bounce {
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  5 %  { transform: scale(.9,1.1)   translateY(-10px); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-10px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-2px); }
  64%  { transform: scale(1,1)      translateY(0); }
  80%  { transform: scale(.9,1.1)   translateY(-5px); }
  100% { transform: scale(1,1)      translateY(0); }
}
