@tailwind base;

@layer base {
  body {
    /*  dark:bg-background-dark  dark:text-foreground-dark min-h-screen  text-foreground */
    @apply min-h-screen bg-background text-foreground flex flex-col;
  }

  #__next {
    @apply flex-1 flex flex-col;
  }

  .main-content {
    @apply max-w-screen-xl mx-auto;
  }
  .date-preview {
    @apply text-center max-w-xl mr-3 p-1 text-gray-900 bg-gray-100 font-bold w-16;
  }
  .date-preview .date {
    @apply text-sm;
  }
  .validation-error {
    padding: 1rem 0;
    color: #fe5e8a;
  }
  .success-toast {
    position: fixed;
    z-index: 20;
    top: 5rem;
    left: 50%;
    margin-left: -10rem;
    display: flex;
    justify-content: space-between;
    width: 20rem;
    padding: 1rem;
    color: #fafafa;
    background-color: #68d09b;
    border: 1px solid #469f72;
  }
  .error-toast {
    position: fixed;
    z-index: 20;
    top: 5rem;
    left: 50%;
    margin-left: -10rem;
    display: flex;
    justify-content: space-between;
    width: 20rem;
    padding: 1rem;
    color: #fafafa;
    background-color: #fe5e8a;
    border: 1px solid #db5177;
  }
  .danger-link {
    @apply text-error;
  }
  .success-box {
    @apply p-2 bg-gray-100 border border-gray-200 whitespace-pre-line mb-4;
  }
  .error-box {
    margin: 0.5rem 0;
    padding: 1rem;
    color: #fafafa;
    background-color: #fe5e8a;
    white-space: pre-line;
  }

  p a {
    text-decoration: underline;
  }
  .logo img {
    height: 3rem;
  }
  .tag {
    background-color: #13301e;
    padding: 0.1rem 0.5rem;
    font-size: 0.65rem;
    text-transform: uppercase;
    margin: 0 0.25rem 0.25rem 0;
    border-radius: 1.1rem;
    color: white;
  }

  .leading-12 {
    line-height: 3rem;
  }

  .step-title {
    @apply text-[32px] leading-12 font-normal;
  }



  /* Datepicker */

  .react-datepicker__month-container {
    @apply  bg-red-500;
  }
.react-datepicker__input-container input {
  @apply block w-full text-base md:text-sm bg-green-500 border border-gray-300 rounded shadow-sm form-input
}

.react-datepicker-popper {
  @apply z-40 w-72 text-sm bg-white shadow px-3 py-2 border-2 border-gray-200 rounded
}

.react-datepicker-left {
  @apply absolute left-0 right-auto top-11 transform-none !important
}

.react-datepicker-right {
  @apply absolute right-0 left-auto top-11 transform-none !important
}

.react-datepicker__portal {
  @apply absolute z-10 w-72 text-sm transform-none bg-white shadow px-3 py-2 top-12 right-0 border-2 border-gray-200 rounded
}

.react-datepicker__month-container {
  @apply flex flex-col border-2
}

.react-datepicker__month {
  @apply flex flex-col
}

.react-datepicker__current-month {
  @apply ml-2.5 text-lg font-semibold text-gray-800
}

.react-datepicker__week {
  @apply flex justify-around
}

.react-datepicker__day-names {
  @apply flex justify-around text-gray-400 font-medium text-center text-xs
}

.react-datepicker__day-name {
  @apply w-8 h-8 flex items-center justify-center py-1 rounded-full
}

.react-datepicker__navigation {
  @apply absolute top-2
}

.react-datepicker__navigation--previous {
  @apply right-12 w-8 h-8 rounded transition flex items-center justify-center hover:bg-gray-200
}

.react-datepicker__navigation--next {
  @apply right-4 w-8 h-8 rounded transition flex items-center justify-center hover:bg-gray-200
}

.react-datepicker__day {
  @apply mb-1 w-8 h-8 flex items-center justify-center py-1 text-sm leading-loose transition text-gray-700 rounded
}

.react-datepicker__day--disabled {
  @apply cursor-not-allowed opacity-40 hover:bg-transparent
}

.react-datepicker__day--outside-month {
  @apply text-gray-300
}

.react-datepicker__day--in-range {
  @apply bg-gray-200
}

.react-datepicker__day--in-selecting-range {
  @apply bg-blue-200
}

.react-datepicker__day--selecting-range-start {
  @apply bg-white border-2 border-blue-500
}

.react-datepicker__day--selecting-range-end {
  @apply bg-white border-2 border-blue-500
}

.react-datepicker__day--selected {
  @apply bg-blue-500 text-white
}

.react-datepicker__day--range-start {
  @apply bg-blue-500 text-white hover:text-gray-700 hover:bg-white
}

.react-datepicker__day--range-end {
  @apply bg-blue-500 text-white hover:text-gray-700 hover:bg-white
}
}

